@font-face {
    font-family: 'vazir';
    src: url('font/Vazir-Bold-FD-WOL.ttf') format('trutype'),
    url('font/Vazir-Bold-FD-WOL.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addUser{
    margin: 200px auto;
    font-family: vazir;
}
.addUserForm p{
    color: #ff003b;
}
.addUserForm h1{
    text-align: center;
    display: block;
    color: cornflowerblue;
    margin-bottom: 50px;
}
.addUserForm input,.sex{
    height: 40px;
    outline: none;
}
.addUserForm label{
    font-family: vazir;
}
.addUserForm input[type=text],.sex{
    direction: rtl;
    font-family: vazir;
    border-radius: 5px;
}
.sex label, select{
    width: 70px;
    color: deepskyblue;
    margin: 10px 5px;
    outline: none;
    font-size: 15px;
}
.allUserLabel{
    text-align: center;
    margin: 200px auto auto auto;
    font-family: vazir;
}

.navbar1{
    height: 50px;
    padding: 0;
    direction: rtl;
    opacity: 90%;
}
.navbar1:hover{
    opacity: 100%;
}
.ulMenu{
    width: 480px;
    margin: 0;
}
.liMenu{
    width: 148px;
    height: 40px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: vazir;
    font-size: 15px;
}
.liMenu:hover{
    font-weight: bold;
    background-color: #ff003b;
    border-radius: 10px;
    transition: 300ms all ease-in-out;
}
.linkMenu{
    text-decoration: none;
    color: white;
}
.submit{
    color: #ffffff;
    font-family: vazir;
    font-weight: bold;
}

.page404{
    margin: 200px auto 200px;
    font-family: vazir;
}
.page404 h1{
    color: #ff003b;
    font-size: 300px;
}
.page404 h3{
    font-size: 50px;
}

.inputLabel{
    direction: rtl;
}
.warning{
    background-color: #ff003b;
    padding-left: 200px;
}
.tbl{
    direction: rtl;
}